jupyter
jupyter-cache
matplotlib >= 3, < 4
multiprocess >= 0.70, < 0.71
upsetplot >= 0.9, < 0.10
emcee >= 3, < 4
corner >= 2, < 3
dvc >= 3, < 4
scipy >= 1, < 2
lymph-model == 1.2.1
lyscripts == 1.0.0.a2
